@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:400,700&display=swap');

body {
  margin: 0;
  font-family: 'Barlow Condensed', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cs-devider{
  height: 5px;
  width: 5px;
  background-color: hsl(231, 7%, 65%);
  border-radius: 50%;
  display: inline-block;
}

.cs-h{
  min-height: 100vh;
}

.cs-badge{
  background-color: hsl(230, 29%, 20%) !important;
  letter-spacing: 1px;
}

.cs-text-color{
  color: hsl(230, 29%, 20%) !important;
}

.nav-link:hover{
  text-decoration: underline;
}

.cs-spacing{
  letter-spacing: 5px;
}

.cs-text-color-2{
  color: hsl(231, 7%, 65%) !important;
}

.cs-btn{
  background-color: hsl(0, 100%, 68%) !important;
}

.cs-btn:hover{
  background-color: hsl(0, 100%, 78%) !important;
}

.cs-fw-400{
  font-weight: 400 !important;
}

.cs-fw-700{
  font-weight: 700 !important;
}

.cs-img-slide{
  width: 130%; /* Keep 70% of the original width */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Fill the container while preserving aspect ratio */
}

.cs-bg-pt{
  position: relative;
}

.cs-bg-pt::before{
  position: absolute;
  content: '';
  background-color: hsl(207, 33%, 95%);
  top: 0;
  right: 0;
  left: 0;
  bottom: 50%;
  z-index: -5;
  border-radius: 0 0 0 50px;
}

.slide-left-col {
  transform: translateX(-100%);
  animation: slideIn 1s ease forwards;
}

.slide-right-col {
  transform: translateX(100%);
  animation: slideIn 1s ease forwards;
}

.slide-top{
  transform: translateY(-100%);
  animation: slideIn 1s ease forwards;
}

@keyframes slideIn {
  to {
    transform: translateX(0);
  }
}

@media (max-width: 921px){
  .cs-bg-pt::before{
    left: 50%;
    bottom: 0;
  }

  .cs-navbar{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .cs-devider{
    height: .5px;
    width: 80%;
    border-radius: 0;
  }

  .cs-toggle{
    border: 0 !important;
  }

  .cs-toggle:focus {
    box-shadow: none !important;
}
}